* text=auto
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
Caddyfile text eol=lf
