{% extends "layouts/base.html" %}
{% block content %}
<main class="container py-4">
  <h1 class="h3">管理员工作台</h1>
  <div class="row g-3 mt-1">
    <div class="col-md-4"><a class="cdd-card cdd-dashboard-link p-4 d-block" href="{% url 'accounts:user-list' %}">人员与会话</a></div>
    <div class="col-md-4"><a class="cdd-card cdd-dashboard-link p-4 d-block" href="{% url 'customers:list' %}">客户档案</a></div>
    <div class="col-md-4"><a class="cdd-card cdd-dashboard-link p-4 d-block" href="{% url 'config_center:index' %}">配置中心</a></div>
  </div>
</main>
{% endblock %}
